# ignore all files
*
# make exceptions for following files
!.gitignore
!.vimrc
!.ideavimrc
!.bashrc
!.bash_aliases
!.bash_profile
!.customgitconfig
!README.md
!/iTerm_Settings
!me
!.zshrc
!.zsh_aliases
!.p10k.zsh
!.install_dot_files.sh
!.fzfgitfunctions.zsh
!.starship.toml
!.vim/coc-settings.json
