source ~/.vimrc

" To search available actions in Webstorm/IntelliJ, type :actionlist yourquery
"
" TODO: Make <leader>u open up the last visited file
" Figure out how to close popup windows with <C-[>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action FindUsages<CR>

nnoremap <leader>rn :action RenameElement<CR>

nnoremap <leader>pp :action ReformatWithPrettierAction<CR>
vnoremap <leader>pp :action ReformatWithPrettierAction<CR>

nnoremap <leader>cc :action CommentByLineComment<CR>
vnoremap <leader>cc :action CommentByLineComment<CR>

nnoremap <leader>do :action ShowIntentionActions<CR>

nnoremap <leader>o :action GotoFile<CR>
nnoremap <leader>i :action Switcher<CR>
" nnoremap <leader>u :action Switcher<CR><CR>
nnoremap <leader>u :action Back<CR>

" Search all files in project
nnoremap <leader>F :action FindInPath<CR>

nnoremap <leader>sv :source ~/.ideavimrc<CR>

nnoremap <leader>f :action SelectInProjectView<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>

nnoremap <leader>gc :action Git.ResolveConflicts<CR>

nnoremap ]g :action GotoNextError<CR>
nnoremap [g :action GotoPreviousError<CR>

nnoremap <C-Z> :action ActivateTerminalToolWindow<CR>

